<h2> <%= @band.name() %> </h2>
<h4> <%= @band.city() %>, <%= @band.state() %> </h4>


<h2>Where they've played:</h2> 
<% if @band.venues().any?() %>
  <ul class="list-unstyled">
    <% @band.venues().each() do |venue| %>
      <li><%= venue.name() %> <i>(<%= venue.city() %>)</i></li>
    <% end %>
  </ul>

<% else %>
  <p>No shows yet.</p>
<% end %>

<ul class="list-inline">
  <li><a href="/">Home</a></li>
  <li><a href="/bands/<%= @band.id() %>/edit">Edit Band</a></li>
</ul>