<h2> <%= @band.name() %> </h2>
<h4> <%= @band.city() %>, <%= @band.state() %> </h4>

<% if @band.venues().any?() %>
  <h2>Where they've played:</h2> <% @band.venues().each() do |venue| %>
      <p><%= venue.name() %></p>

      <% end %>

<% else %>
  <p>None yet.</p>
<% end %>

<p><a href="/bands/<%= @band.id() %>/edit">Edit Band</a></p>

<p><a href="/">Home</a></p>