<h2>Edit <%= @band.name %></h2>


<form action = "/bands/<%= @band.id() %>/name" method="post">         
  <input type="hidden" name="_method" value="patch">

  <label for="name" class="form-label"></label>
  <input id="name" name="name" type="text" placeholder="Edit Name">

  <button type="submit" class="btn-default">Edit Name</button>     
</form>



<form action = "/bands/<%= @band.id() %>/city" method="post">         
  <input type="hidden" name="_method" value="patch">

  <label for="city" class="form-label"></label>
  <input id="city" name="city" type="text" placeholder="Change City">

  <button type="submit" class="btn-default">Change City</button>     
</form>


<form action = "/bands/<%= @band.id() %>/state" method="post">         
  <input type="hidden" name="_method" value="patch">

  <label for="state" class="form-label"></label>
  <input id="state" name="state" type="text" placeholder="Change State">

  <button type="submit" class="btn-default">Change State</button>     
</form>

<form action="/bands/<%=@band.id() %>/venues" method="post">
  <input type="hidden" name="_method" value="patch">
  <% if @venues.any?() %>
    <select id="venue_id" name='venue_id' type='text'>
      <% @venues.each() do |venue| %>
      <option value="<%= venue.id %>"> <%= venue.name %> </option>
      <% end %>
    </select>
    <button type="submit" class="btn-default">Add Venue</button>
  <% end %>
</form>
  


<form action="/bands/<%=@band.id() %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button class="btn-sm btn-default" type="submit">Delete Band</button>
</form>